* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
}

.clothesChest {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

.clothesBoxHeader {
    width: 85%; 
}

.buy-button {
    background-color: rgb(27, 26, 32);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    cursor: pointer;
    padding: 15px 0px;
    
}

.title {
    position: relative;
    height: 45px;
    padding: 0px 20px;
  }

.header {
    width: 100%;
    margin-bottom: 10px;
}

.header .products {
    float: left;
    margin: 8px 0 0;
}

.header .sort {
    float: right;
}

.item {
    width: 25%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}

.Free-Shipping {
    position: absolute;
    color: rgb(236, 236, 236);
    top: 10px;
    right: 10px;
    font-size: 0.6em;
    background-color: rgb(27, 26, 32);
    cursor: default;
    padding: 5px;
}

.item-thumb {
    display: block;
}

.imageBox img {
    object-fit: contain;
    width: 100%;
}

.price-shelf {
    height: 60px;

}